.layout-flex {
    display: flex;

    &.justify-center {
        justify-content: center;
    }
}

.layout-flex--columnar {
    display: flex;
    flex-flow: nowrap column;

    &.justify-take-a-breath {
        justify-content: space-around;
    }

    &.align-items--cent {
        align-items: center;
    }
}