@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600&display=swap");

.snd-typo-til-fam {
  font-family: "Titillium Web", sans-serif;
}

.snd-typo--light {
  font-weight: 300;
}

.snd-typo--bold {
  font-weight: 700;
}

.snd-typo--uppercase {
    text-transform: uppercase;
}

.snd-typo-size--1c25x {
    font-size: 1.25em;
}