.snd-nameday-card {
    width: 400px;
    height: 500px;
    padding: 2em;
    box-sizing: border-box;
    margin: 2em;
}

.card_description {
    max-height: calc(300px - 2em);
    overflow-y: hidden;
}

.slide-card {

}