.layout-flex {
    display: flex;

    &.justify-center {
        justify-content: center;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.items--center {
        align-items: center;
    }

    &.justify-take-a-breath {
        justify-content: space-around;
    }

    &.justify--end {
        justify-content: flex-end;
    }
}

.layout-flex--columnar {
    display: flex;
    flex-direction: column;

    &.wrap {
        flex-wrap: wrap;
    }

    &.justify-take-a-breath {
        justify-content: space-around;
    }

    &.align-items--cent {
        align-items: center;
    }
}

.snd-layout-scrollable-xy--off {
    overflow: hidden;
}